:root{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
    --primaryColor:#DEE4EA;
    --secondaryColor:#B3B9C4;
    --inverse:#101214;
}

:root.dark{
    --primaryColor:#101214;
    --secondaryColor:#454F59;
    --inverse:#DEE4EA;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    transition: background-color 0.50s;
    background-color: var(--primaryColor);
    font-size: 16px;
    height: 100vh;
    width: 100vw;
    position: relative;
}

/* this is for the header */
header{
    position: fixed;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > div{
    height: 100%;
    width: 20%;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    min-width: min-content;
    padding: 10px;

    &:nth-child(2){
        & > button{
            background-color: var(--primaryColor);
            color: var(--inverse);
            border: none;
            font-size: 1.2rem;
            font-weight: bolder;
            transition: background-color 0.50s;
        }
    }

    & > img{
        height: 70%;
    }
}

.wrapper{
    position: absolute;
}

.showAddBook{
    position: absolute;
    margin: auto;
}